<p>
  <a
    [routerLink]="['/admin/products/new']"
    class="btn btn-light btn-sm">
    <i class="fa fa-plus"></i> Product
  </a>
</p>
<div class="mb-5 card-header">
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="input form-control" placeholder="Search...">
</div>

<table
  [mfData]="filteredProducts"
  #mf="mfDataTable"
  [mfRowsOnPage]="5"
  class="table table-light table-hover table-stripped">
  <thead>
    <tr>
      <th><mfDefaultSorter by="title">Title</mfDefaultSorter></th>
      <th><mfDefaultSorter by="price">Price</mfDefaultSorter></th>
      <th><mfDefaultSorter by="category">Category</mfDefaultSorter></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{ item.title }}</td>
      <td>{{ item.price | currency: 'EUR' }}</td>
      <td>{{ item.category }}</td>
      <td>
        <a [routerLink]="['/admin/products', item.key]">
          <i class="far fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
