.navbar-brand {
  cursor: pointer;
}

.account-info {
  display: flex;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item.logout {
  cursor: pointer;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border: 2px solid #ffc107;
  border-radius: 50%;
  background-size: cover;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}
