<div class="row no-gutters">
  <div class="col-2">
    <button
      (click)="removeFromCart()"
      class="btn btn-secondary btn-block">
      <i class="fa fa-minus-circle"></i>
    </button>
  </div>
  <div class="col text-center item-quantity">
    <span class="badge badge-info badge-pill">
      {{ shoppingCart.getQuantity(product) }}</span> item in Cart.
  </div>
  <div class="col-2">
    <button
      (click)="addToCart()"
      class="btn btn-secondary btn-block">
      <i class="fa fa-plus-circle"></i>
    </button>
  </div>
</div>
